* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  overflow-y: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.navbar {
  background-color: rgb(255, 255, 180);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 10px;
  padding: 40px;
}
.search-container {
  overflow: hidden;
  height: 90%;
  width: 30%;
  border-radius: 10px;
  border: 2px solid rgb(90, 177, 93);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  font-size: larger;
  color: rgb(55, 103, 57);
}
.graph-container {
  height: 90%;
  width: 50%;
  border-radius: 10px;
  border: 2px solid rgb(90, 177, 93);
}
.crop-recommendation {
  height: 90%;
  width: 20%;
  border-radius: 10px;
  border: 2px solid rgb(90, 177, 93);
}
.search-container:hover,
.graph-container:hover,
.crop-recommendation:hover {
  box-shadow: 0px 4px 18px rgba(0, 60, 0, 0.514);
  transition: 0.2s ease-in-out;
}
.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: fit-content;
}

.search-box input {
  padding: 10px 14px;
  width: 250px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #f2f2f2;
  font-size: 16px;
  transition: 0.3s ease;
}

.search-box input:focus {
  background: #e9e9e9;
  box-shadow: 0 0 0 2px #578e50;
}

.search-box button {
  padding: 10px 18px;
  background: rgb(55, 103, 57);
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.search-box button:hover {
  background: #48bd4c;
}

.search-box button:active {
  transform: scale(0.95);
}
.search-bottom{
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
.search-bottom .weather{
  border: 2px solid rgb(90, 177, 93);  
  height: 530px;
  width: 220px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.search-bottom .soil{
  border: 2px solid rgb(90, 177, 93);  
  height: 530px;
  width: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.details{
  display: flex;
  flex-direction: column;
}