* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  overflow-y: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.navbar {
  background-color: rgb(255, 255, 180);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 10px;
  padding: 40px;
}
.search-container{
    height: 90%;
    width: 30%;
    border-radius: 10px;
    border: 2px solid rgb(90, 177, 93);
}
.graph-container{
    height: 90%;
    width: 50%;
    border-radius: 10px;
    border: 2px solid rgb(90, 177, 93);

}